<table class="table table-responsive">
  <thead>
  <tr>
    <td colspan="2">Player Stats: kills</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>times knocked (DBNOs)</td>
    <td>{{player.attributes.stats.DBNOs}}</td>
  </tr>
  <tr>
    <td>assists</td>
    <td>{{player.attributes.stats.assists}}</td>
  </tr>

  <tr>
    <td>damageDealt</td>
    <td>{{player.attributes.stats.damageDealt}}</td>
  </tr>
  <tr>
    <td>deathType</td>
    <td>{{player.attributes.stats.deathType}}</td>
  </tr>
  <tr>
    <td>headshotKills</td>
    <td>{{player.attributes.stats.headshotKills}}</td>
  </tr>
  <tr>
    <td>killStreaks</td>
    <td>{{player.attributes.stats.killStreaks}}</td>
  </tr>
  <tr>
    <td>kills</td>
    <td>{{player.attributes.stats.kills}}</td>
  </tr>
  <tr>
    <td>longestKill</td>
    <td>{{player.attributes.stats.longestKill}}</td>
  </tr>
  <tr>
    <td>mostDamage</td>
    <td>{{player.attributes.stats.mostDamage}}</td>
  </tr>
  <tr>
    <td>roadKills</td>
    <td>{{player.attributes.stats.roadKills}}</td>
  </tr>
  <tr>
    <td>teamKills</td>
    <td>{{player.attributes.stats.teamKills}}</td>
  </tr>
  <tr>
    <td>vehicleDestroys</td>
    <td>{{player.attributes.stats.vehicleDestroys}}</td>
  </tr>

  </tbody>

</table>

<table class="table">
  <thead>
  <tr>
    <td colspan="2">Player Stats: ranking</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>winPlace</td>
    <td>{{player.attributes.stats.winPlace}}</td>
  </tr>
  <tr>
    <td>winPointsDelta</td>
    <td>{{player.attributes.stats.winPointsDelta}}</td>
  </tr>
  <tr>
    <td>lastKillPoints</td>
    <td>{{player.attributes.stats.lastKillPoints}}</td>
  </tr>
  <tr>
    <td>lastWinPoints</td>
    <td>{{player.attributes.stats.lastWinPoints}}</td>
  </tr>
  <tr>
    <td>killPlace</td>
    <td>{{player.attributes.stats.killPlace}}</td>
  </tr>
  <tr>
    <td>killPointsDelta</td>
    <td>{{player.attributes.stats.killPointsDelta}}</td>
  </tr>
  </tbody>

</table>


<table class="table">
  <thead>
  <tr>
    <td colspan="2">Player Stats: healing</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>boosts</td>
    <td>{{player.attributes.stats.boosts}}</td>
  </tr>
  <tr>
    <td>revives</td>
    <td>{{player.attributes.stats.revives}}</td>
  </tr>
  <tr>
    <td>heals</td>
    <td>{{player.attributes.stats.heals}}</td>
  </tr>
  </tbody>

</table>


<table class="table">
  <thead>
  <tr>
    <td colspan="2">Player Stats: miscellaneous</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>walkDistance</td>
    <td>{{player.attributes.stats.walkDistance}}</td>
  </tr>
  <tr>
    <td>weaponsAcquired</td>
    <td>{{player.attributes.stats.weaponsAcquired}}</td>
  </tr>
  <tr>
    <td>timeSurvived</td>
    <td>{{player.attributes.stats.timeSurvived}}</td>
  </tr>
  <tr>
    <td>rideDistance</td>
    <td>{{player.attributes.stats.rideDistance}}</td>
  </tr>
  </tbody>

</table>


